<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <standardEndpoints>
            <webHttpEndpoint>
                <standardEndpoint name="NewStandardEndpoint0" />
            </webHttpEndpoint>
        </standardEndpoints>
        <bindings>
            <basicHttpBinding>
                <binding name="mlhBindingName2" closeTimeout="00:02:00" maxBufferSize="65536000"
                    maxReceivedMessageSize="65536000" />
            </basicHttpBinding>
        </bindings>
        <services>
            <service name="Test.ServerSide.Contracts.Service2">
                <endpoint address="Service1" binding="basicHttpBinding" bindingConfiguration="mlhBindingName2"
                    name="endpoint_service1" bindingName="mlhBindingName" contract="Test.ServerSide.Contracts.IService2" />
                <endpoint address="http://localhost:8801/Student/Service2" binding="basicHttpBinding"
                    bindingConfiguration="" name="endpoint_Service2" contract="Test.ServerSide.Contracts.IService2" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://CPEKW-Q1100565/service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>