<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="PlayerQueue" value="PlayerQueue"/>
    <add key ="PlayerPoisonQueue" value="PlayerPoisonQueue"/>
    <add key ="MaxRetry" value="0"/>
    <add key ="RetryMinutes" value="5"/>
  </appSettings> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <sharedListeners>
    <add initializeData="Logs\ExtTracing-service.svclog"
      type="System.Diagnostics.XmlWriterTraceListener" name="xml"
      traceOutputOptions="Callstack">
      <filter type="" />
    </add>
    <add initializeData="Logs\bbbb.svclog"
      type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=534534534HHfsd"
      name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
  </sharedListeners>
</configuration>